.song-contents {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10vh;
}
.song-name {
  text-align: center;
}
.search-name-option {
  margin-left: auto;
}
#control-buttons {
  cursor: pointer;
}
.search-options {
  box-sizing: border-box;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.up-next-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.up-next-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#cuue-search {
  top: 0;
}

@media only screen and (max-width: 600px) {
  .song-contents {
    display: flex;
    flex-direction: column;
  }
  .song-image {
    width: 60vw;
    height: 34vh;
  }
  .song-name {
    margin-top: 2vh;
  }
  .cuue-button {
    margin-top: 1vh;
    height: 6vh;
    font-size: 3vh;
    align-items: center;
    width: 50vw;
  }
  .player-controls {
    margin-top: 2vh;
  }
  #control-buttons {
    margin-top: 1vh;
    font-size: 13vh;
  }
  .cuue-search {
    width: 400px;
  }
}

@media only screen and (min-width: 600px) {
  .song-image {
    width: 50vw;
    height: 40vh;
    margin-right: 5vw;
  }
  .song-name {
    font-size: 3vh;
  }
  .cuue-button {
    margin-top: 5vh;
    height: 6vh;
    font-size: 3vh;
    align-items: center;
    width: 50vw;
  }
  #control-buttons {
    margin-top: 3vh;
    font-size: 11vh;
  }
  .cuue-search {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .song-image {
    height: 39vh;
    width: 49vw;
    margin-right: 1vw;
  }
  .song-name {
    font-size: 4vh;
  }
  .cuue-button {
    height: 6vh;
    margin-top: 3vh;
    font-size: 3vh;
    align-items: center;
    width: 50vh;
  }
  .search-image {
    width: 6vw;
    height: 9vh;
  }
  .cuue-search {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .song-image {
    height: 50vh;
    width: 45vw;
    margin-right: 5vw;
  }
  .song-name {
    font-size: 8vh;
  }
  .cuue-button {
    height: 6vh;
    margin-top: 3vh;
    font-size: 3vh;
    align-items: center;
    width: 50vh;
  }
  .search-image {
    width: 6vw;
    height: 9vh;
  }
  .cuue-search {
    width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .song-image {
    height: 66vh;
    width: 36vw;
    margin-right: 5vw;
  }
  .song-name {
    font-size: 5vh;
    margin-bottom: auto;
  }
  .cuue-button {
    height: 6vh;
    margin-top: 3vh;
    font-size: 3vh;
    align-items: center;
    width: 50vh;
  }
  .player-controls {
    margin-top: 10vh;
    margin-left: -1vw;
  }
  #control-buttons {
    font-size: 15vh;
    cursor: pointer;
  }
  .cuue-search {
    width: 600px;
  }
  .search-options {
    font-size: 2vh;
    background-color: white;
  }
  .search-image {
    width: 3vw;
    height: 5vh;
  }
}
