.party-card {
  background-color: #fe4871;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  top: 0;
}

/* @media only screen and (max-width: 600px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 600px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 768px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 992px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 1200px) {
  .playlist-card {
    width: ;
    height: ;
  }
} */
