.playlist-card {
  background: url("../../assets/Jukebox_Fixed.png");
  background-size: cover;
}

/* @media only screen and (max-width: 600px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 600px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 768px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 992px) {
  .playlist-card {
    width: ;
    height: ;
  }
}

@media only screen and (min-width: 1200px) {
  .playlist-card {
    width: ;
    height: ;
  }
} */
